.overlay{
    width: 100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    width: auto;
    height: 70vh;
    border-radius: 19px ;
    /* background-image: url("../../img/FlowerPhobia.png"); */
    background-repeat: no-repeat;
    display: flex    ;
    justify-content: center;
    align-items: center;
    animation:slideUp ease-in 0.3s;
}
@keyframes slideUp {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
@keyframes slideDown {
    from {
        /* transform: translateY(0); */
        opacity: 1;
    }
    to {
        /* transform: translateY(50px); */
        opacity: 0;
    }
}
.image>img{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-image: url("../../img/FlowerPhobia.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px;
    align-self: center;
}
